/* Color Theme Swatches in Hex */
/*.principal.UI/UX-1-hex { color: #F266C1; }
.UI/UX-2-hex { color: #A6498D; }
.destaque.UI/UX-3-hex { color: #733869; }
.UI/UX-4-hex { color: #01080D; }
.fundo.UI/UX-5-hex { color:#8C7632; }
*/

.page-wrapper {
  position: relative;
}
.explanation{
  width: 60%;
  border-right: #1f295c solid 1px;
  padding-right: 2%;
}
#design-selection {

  position: absolute;
  top: 560px;
  left: 62%;
  padding-left: 2%;
  padding-right: 1%;
}








aside ul{
  list-style-type: none;

}
aside ul li {
  margin: 1em;
  text-align: center;
}

.main footer {
  margin: 4%;

}

.main footer {
  border: solid 2px #1f295c;
  padding: 0.5em;
display: inline-block;
}




.page-wrapper{
  width: 80%;
  max-width: 1280px;
  margin: auto;
}

#zen-intro{
  height: 550px;
}

#design-archives
{
  display:none ;
}

#zen-intro header{
  background-color: #1f295c;
  color: white;
}

#zen-intro header h1,#zen-intro header h2{
  display: inline-block;

} 
#zen-intro header h1{
  margin-left: 1em;
  margin-right:  1em;

}



html {
  background:  #F266C1;
  


color:  #01080D;

font-size: 18px  ;
font-family: Arial, Helvetica, sans-serif;

}
p {
  text-indent: 1em;
}

h1,h2,h3{
  text-align: center;
}
h1{font size: 1.8rem; }
h2{font-size: 1.4rem;}
h3{font-size: 1.2rem;}


.summary{text-align: right;}



.main p{
  line-height: 1.5;
}
abbr {font-variant:small-caps ;}



.supporting footer {
  display: flex;
  justify-content: space-evenly; 
}

.benefits{
  display: flex;
  border-top: #1f295c solid 1px;
  border-bottom:  solid 1px;

}
.benefits h3 {

  order: 2;
  align-self: center;
flex-basis: 30%;
}

.participation {
  display: flex;

  flex-wrap: wrap;
  border-top: #1f295c solid 1px;
  

}
.participation h3, .participation p {

  flex-basis: 50%;

}

.participation h3{
  align-self: center;
}
